package pdf_components

import (
	"github.com/riweston/gotempl-cv/pkgs/types"
)

func NewAbout(filePath string) templ.Component {
    bio := &types.BioData{}
    if err := types.ReadYamlFile(filePath, bio); err != nil {
        panic(err)
    }
    return About(*bio)
}

templ About(bioData types.BioData) {
    <div class="mb-2">
        <h1>Profile</h1>
        <p>{ bioData.About }</p>
    </div>
}
